<?xml version="1.0" encoding="ISO-8859-1"?>
<settings>
   <setting>
      <!-- Shared HLA setting -->
      <name>FomFile</name>
      <value>CelestialBodiesModule.xml</value>
   </setting>
   <setting>
      <!-- Shared HLA setting -->
      <name>Federation</name>
      <value>CelestialBodiesFederation</value>
   </setting>
</settings>
